img{
    width: 130px;
}
body{
    background-image: url("https://background-tiles.com/overview/yellow/patterns/large/1056.png");
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.card:hover{
    transform: scale(1.05);
}
button:hover{
    transform: scale(1.05);
}